# Vivado generated junk
*.jou
*.log
*.str
*.zip
*.wdb
*.pb
*.rpx
*.dbg
*.mdl
*.html
*.xml

# Vivado runs and builds
*/.Xil/*
*.Xil
*.cache
*.hw
*.sim
*.runs
*.ip_user_files
*.gen
*.srcs/sim/*
*.sim/*
*.local

# Timing & synthesis db
*.rpt
*.dcp

# Just in case
*.tmp
*.bin
*.dat
